<form action="/answer" method="get" class="text-center">
  <p>Ask the coach anything</p>
  <input type="text" name="question" placeholder="...">
  <input type="submit" value="Ask!" class="btn-primary">
</form>
